*{
	margin:0px;
	padding:0px;
	font-family: Helvetica Neue; 
	text-decoration: none;
}

/*titulo*/

div#titulo{
	width:100%;
	margin-top:20px;
}

p#header{
	text-align: center;
	font-size: 2.5em;
	color:#000000;
}

p#subheader{
	text-align: center;
	color:#363333;
	margin-top:20px;
	font-size: 1.3em;
}



div.contenedor{
	width: 200px;
	height: 230px;
	float:left;
	-webkit-transition: height .4s;
}


/*-----------------barra lateral------------------------------------------------------------------------------------------------*/
*{
	margin:0px;
	padding:0px;
	font-family: verdana;
	color:#bcbcbc;
}

body{

}
div#barra-lateral{
	position:fixed;
	width:65px;
	height:100%;
	background-color:#2f3030;
	overflow:hidden;
	-webkit-transition:width 0.5s cubic-bezier(.61,.01,.37,1);
}

div#barra-lateral:hover{
	width:170px;
}

div#logo-menu{
	width:40px;
	height:40px;
	margin:10px;
	
}

div#contenedor-logos-primero{
	margin-top:70px;
}

div.contenedor-logos{
	margin-top:20px;
	margin-left:10px;
	width:130px;
	height:40px;
	
}

div.logo{
	width:40px;
	height:40px;

	float: left;
}

p.title-menu{
	margin-left:60px;
	line-height: 40px;
}

/*body*/

div#body{
	position:absolute;
	right:0px;
	min-height:300px;
	left:170px;
}

div#texto{
	width:50%;
	min-height:300px;
	float:left;
}

p#texto-contenedor-1{
	font-size:25px;
	margin:30px;
	margin-top:50px;
	color:#595959;
}

div#foto{
	width:50%;
	height:300px;
	float:right;
}

img#foto-contenedor-1{
	margin:auto;
	margin-top:15px;
	width:300px;
	display:block;
}
img.icon1{
	display: block;
	
margin-top: -3px;
	
	width:35px;
	padding:3px;	
}
img.icon2{
	display: block;
	
margin-top: -3px;
	
	width:30px;
	padding:8px;	
}
img.icon3{
	display: block;
	
margin-top: -3px;
	
	width:28px;
	padding:5px;	
}
img.icon4{
	display: block;
	
margin-top: -3px;
	
	width:30px;
	padding:7px;	
}

img.icon5{
	display: block;
	
margin-top: -3px;
	
	width:30px;
	padding:7px;	
}
/*-----------cuadro------------------------------------------------------------------------------------------------------------------*/
div.cont1{
	margin:15px;
	width:170px;
	height:270px;
	
	overflow: hidden;
	border-radius: 5px;
    position: absolute;
                bottom: 225px;
                right: 500px;
				
}

div.foto1{
	width:170px;
	height:170px;
	
	
	
}

img.foto1{
	
	margin:13px auto;
	margin-left: 13px;
	width:145px;
	height:145px;

	
}
p.infor1{
	margin:15px;
	font-size: 1.1em;
color:black;

	
}
table{
	background-color: antiquewhite;
border: #000000 1px;
}





























































